.baseBody {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: lightseagreen;
    color: white;
  }

.homeTitle{
    color: black;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}

.homeSubtitle{
    display:flex;
    align-items:center;
    font-size: 50px;
    font-weight: 600;
    flex-wrap: wrap;
    font-style: italic;
    justify-content: center;
    color: black;
    text-align: center;
    vertical-align: center;
}


.homeText{
    color: black;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.HomeButton1{
    display:flex;
    align-items:center;
   
    justify-content: center;
    text-align: center;
    vertical-align: right;
 
}

.HomeButton2{
    display:flex;
    align-items:center;
   
    justify-content: center;
    text-align: center;
    vertical-align: center;
 
}

.firstRow{
    min-height: 400px;
    background-image: url("../images/pizzaBanner.jpg")
}
.secondRow{
    min-height: 800px;
    background-color: whitesmoke;
}

.main > div {
    display: inline-block;
    width: 49%;
    margin-top: 10px;
    
  }
  
  .two .register {
    border: none;
  }
  .two .register h3 {
    border-bottom-color: #909090;
  }
  .two .register .sep {
    border-color: #909090;
  }

  .signUpBody {
    background-position: top;
    background-image: url(https://d.ibtimes.co.uk/en/full/1671954/jp-morgan.jpg);
    background-size: auto;
  }

.locationsTitle{
    color: black;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}

.locationsSubtitle{
    display:flex;
    align-items:center;
    font-size: 30px;
    font-weight: 600;
    flex-wrap: wrap;
    font-style: italic;
    justify-content: center;
    color: black;
    text-align: center;
    vertical-align: center;
}

.minHeight{
    min-height: 100px;
}



.menu_body{
    max-width: 680px;
    margin:0 auto;
    display: block;
    color: rgb(92, 92, 92);
}

.menu_section{
    margin-bottom: 80px;
}

.menu_section_title{
    font-family: goergia;
    font-size: 50px;
    display:block;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}

.menu_item{
    margin:35px 0;
    font-size: 18px;
}

menu_item_name{
    font-family: helvetica;
    font-weight: bold;
    border-bottom: 2px dotten rgb(213, 213, 213);
}

.menu_item_description{
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
}

.menu_item_price{
    float:right;
    font-weight: bold;
    font-family: arial;
    margin-top:-22px;
}