{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid">
    <div class="firstRow row">
        <div class="homeSubtitle col-sm-8 offset-2 ">
          <div><p>  </p></div>
        </div>
        <div class="homeTitle col-sm-8 offset-2">
            <div>Jane Doe Pizzeria</div>
        </div>
        <div class="homeSubtitle col-sm-8 offset-2 ">
          <div><p>  </p></div>
        </div>
        <div class="homeSubtitle col-sm-8 offset-2 ">
          <div><p>  </p></div>
        </div>
        <div class="homeSubtitle col-sm-8 offset-2 ">
          <div><p>  </p></div>
        </div>
        <div class="homeSubtitle col-sm-8 offset-2 ">
            <div>The Best Slice On The Block!</div>
        </div>
    </div>
    <div class="secondRow row">
      
    </div>
    <div class="row"></div>
</div>
{% endblock %}