{% extends 'base.html' %}

{% block app_content %}
  <body>
    <div class="menu_body">
      <!-- Section Starts: Appetizers-->
      <div class="menu_section">
        <h2 class="menu_section_title">APPETIZERS</h2>
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Shrimp Scampi
          </div>
          <div class="menu_item_price">
            $12
          </div>
          <div class="menu_item_description">
            An order of fresh shrimp served with Garlic, white wine and our special lemon butter sauce.
          </div>
        </div>
        <!-- Item Ends-->

        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Mozarella Marinara
          </div>
          <div class="menu_item_price">
            $7
          </div>
          <div class="menu_item_description">
            An order of our famous cheeseticks. Hand-cut daily and made from fresh Mozarella and covered with our secret sauce and breading.
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Chicken Wings
          </div>
          <div class="menu_item_price">
            $10
          </div>
          <div class="menu_item_description">
            Fresh chicken wings seasoned with mild or spicy pepper. Served with your choice of dipping sauce.
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Ceasar Salad
          </div>
          <div class="menu_item_price">
            $6
          </div>
          <div class="menu_item_description">
            Made from Fresh Lettuce, Tomato, Balsin, Spinach and topped off our secret cesar sauce.
          </div>
        </div>
        <!-- Item Ends-->
      </div>
      <!-- Section Ends: Appetizers-->

      <!-- Section Starts: Entrees-->
      <div class="menu_section">
        <h2 class="menu_section_title">MAIN COURSE</h2>
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            All-American Pie
          </div>
          <div class="menu_item_price">
            $17.76
          </div>
          <div class="menu_item_description">
            Our famous All-Meat Pie made from the freshest Pepperoni, Bacon, Sausage and Ham, topped off with 1/2 lb. of all American Cheese. (Fills 2-3 People).
          </div>
        </div>
        <!-- Item Ends-->

        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            L'italiano
          </div>
          <div class="menu_item_price">
            $15
          </div>
          <div class="menu_item_description">
            A Large Pie filled made of pureed fresh tomatoes, garlic, oregano, olive oil to give it a fresh herby taste that infuses the crust underneath. Topped off with pepperoni. (Fills 2-3 People).
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Cheese Heaven
          </div>
          <div class="menu_item_price">
            $13
          </div>
          <div class="menu_item_description">
            A Large Pie covered in 5 types of Cheese. American Cheese, Muenster Cheese, Mozarella, Swiss Cheese, Provolone and topped off with a generous amount of parmesan cheese.(Fills 2-3 People)
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            De Pepperoni
          </div>
          <div class="menu_item_price">
            $14
          </div>
          <div class="menu_item_description">
            A Large Pie fully covered in the best and most freshest pepperoni on the market. (Fills 2-3 People)
          </div>
        </div>
        <!-- Item Ends-->
      </div>
      <!-- Section Ends: Entrees-->

      <!-- Section Starts: Drinks-->
      <div class="menu_section">
        <h2 class="menu_section_title">DRINKS</h2>
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Soda
          </div>
          <div class="menu_item_price">
            $2
          </div>
          <div class="menu_item_description">
            Coca-Cola, Sprite, Fanta
          </div>
        </div>
        <!-- Item Ends-->

        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Domestic Beer
          </div>
          <div class="menu_item_price">
            $3
          </div>
          <div class="menu_item_description">
            Budweiser, Bud Light, Coors, Michelob, Miller, Rolling Rock
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Imported Beer
          </div>
          <div class="menu_item_price">
            $4
          </div>
          <div class="menu_item_description">
            Becks, Corona, Dos Equis, Heineken, Boddingtons
          </div>
        </div>
        <!-- Item Ends-->
        <!-- Item Starts-->
        <div class="menu_item">
          <div class="menu_item_name">
            Wine
          </div>
          <div class="menu_item_price">
            $7/27
          </div>
          <div class="menu_item_description">
            Our most delicious Red or White wine. Available by Glass or Bottle.
          </div>
        </div>
        <!-- Item Ends-->
      </div>
      <!--Section Ends: Drinks-->
    </div>
  </body>
{% endblock %}